/* DOKUMENT STYLŮ K ÚPRAVĚ */

.main {
   gap: 1em;
   display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  
}

.ytv {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   flex-direction: column;
   gap: 1em; 
   
}
.ytv__bottom {
    display: flex;
    flex-wrap: wrap;
}
.ytv__left {
   display: flex;
   gap: 1em;
}

.ytv__right {
   display: flex;
   justify-content: flex-end;

   flex-grow: 1;
   gap: 1em;
   
}
.profile {
   display: flex;
   align-items: center;
   flex-direction: row;
   gap: 1em;
}
.profile__text {
   
}
.icon {

}

.profile__stats{

}

.ytv__bell {
   display: flex;
   align-items: center;  
}

.btn--flex {

}
